@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";


@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layout/header";
@import "./pages/menu";
@import "./pages/accueil";
@import "./layout/footer";
@import "./components/loading";
@import "./components/menuAnimation";
@import "./components/validationAnim";