
.footer {
    background-color: #383838;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.3rem;


    &__head {

        margin-bottom: 0.6rem;

       &--logo {
           filter: invert(1);
            width: 33%;
            max-width: 7rem;
       }
   }
}

.footerContainer {

    display: flex;
    flex-direction: column;
    filter: invert(1);
    line-height: 0.9rem;


    &__box {

        display: flex;
        align-items: center;
        justify-content: start;
        margin: 0;
    
        &--text{
            margin: 0.3rem;
            font-size: 0.97rem;
        }
        &--text:hover{
            text-decoration: underline;
        }
        &--icon {
            font-size: 0.8rem;
            margin-right: 0.3rem;
            margin-left: 0.5rem;
        }
    
    }
}

@media screen and (min-width: 768px ){
    .footer{
        text-align: center;
    }
    
    .footerContainer {
        align-items: center;
    }
}