body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  margin: auto;
  content: "";
  animation: main 1.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes main {
  0% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.btn__order {
  border-radius: 2rem;
  padding: 1rem 1.3rem;
  color: white;
  border-style: none;
  background: linear-gradient(351deg, #a159d9 35%, #ff79d4 100%);
  font-family: "roboto";
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 3.4rem;
  box-shadow: 1px 1px 7px -3px #000000;
  border: none;
  outline: none;
}

.btn__order:hover {
  background: linear-gradient(351deg, #a565d6 35%, #f882d3 100%);
  box-shadow: 1px 2px 8px -2px #000000;
}

.heart {
  font-size: 1.4rem;
  position: absolute;
  left: -3rem;
  z-index: 3;
  opacity: 0;
}

.heartBorder {
  position: absolute;
  font-size: 1.4rem;
  left: -3rem;
  z-index: 4;
}

.heartBorder:hover {
  opacity: 0;
}

.heartBorder:hover + .heart {
  opacity: 1;
  display: block;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1.3rem 0 0.7rem 0;
}
.header__logo {
  height: 1.8rem;
}

.fa-arrow-left {
  position: absolute;
  left: 5%;
  font-size: 1.1rem;
}

.wrapBackground__img {
  height: 15rem;
  object-fit: cover;
  width: 100%;
}

.containerCenterMenu {
  display: flex;
  justify-content: center;
}

.cardFull {
  position: relative;
  bottom: 2.9rem;
  margin-bottom: -46px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: #F0F0F0;
  border-radius: 2.5rem 2.5rem 0 0;
  max-width: 425px;
}

.cardTop {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 0.7rem 1.6rem 1.3rem;
}
.cardTop__title {
  margin: 0;
  font-family: "Shrikhand";
  font-weight: 400;
}
.cardTop__logo {
  position: relative;
  padding-top: 0.3rem;
}

.cardArticle {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  padding: 0.5rem 1rem 1.1rem 1rem;
}

.cardArticle__BoxTop {
  margin: 0;
}
.cardArticle__BoxTop--title {
  margin: 0;
  padding: 0.1rem 0;
  font-weight: 300;
  font-size: 0.9rem;
}
.cardArticle__BoxTop--bar {
  height: 0.2rem;
  width: 2.4rem;
  content: "";
  background-color: #99E2D0;
  margin: 0;
}

.cardArticleDishBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.09);
}
.cardArticleDishBox__price {
  display: flex;
  font-size: 0.8rem;
  font-weight: bold;
  color: #404040;
  margin: 0;
  margin-top: 0.9rem;
}

.cardArticleDishBox__desc {
  flex: 1;
  min-width: 0;
  line-height: 1.3rem;
  padding: 0.4rem;
}
.cardArticleDishBox__desc--title {
  font-size: 0.9rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardArticleDishBox__desc--underTitle {
  margin: 0;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonCard {
  width: 100px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 15px;
}

.circleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  overflow: hidden;
  border-radius: 0 0.8rem 0.8rem 0;
}

.circle {
  background-color: #99E2D0;
  color: white;
  font-size: 1.1rem;
}

@media screen and (max-width: 321px) {
  .cardArticleDishBox {
    max-width: 299px;
  }
}
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
  font-weight: 500;
  color: #383838;
  font-family: "roboto";
  font-size: 1rem;
  box-shadow: #b1b6bb -2px 2px 2px 0px inset;
}
.localisation__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-right: 2rem;
}
.localisation__city {
  margin-left: 1.1rem;
}

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
}
.reservation__title {
  margin: 0;
  text-align: center;
  padding: 2.5rem 2.9rem 0.8rem 2.9rem;
  font-size: 1.5rem;
  line-height: 1.9rem;
}
.reservation__text {
  font-size: 1.15rem;
  text-align: center;
  margin: 0 1.3rem 1.8rem 1.6rem;
  font-weight: 300;
}

.containerCenter {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.operation {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 3.2rem 0rem 3.8rem;
}
.operation__title {
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 0.5rem;
}
.operation__box:hover {
  background-color: rgba(147, 86, 220, 0.15);
}
.operation__box:hover > .iconHover {
  color: #9356DC;
}
.operation__box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: #F5F5F5;
  border-radius: 1.3rem;
  padding: 0.5rem;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.09);
  width: 300px;
}
.operation__box--icon {
  position: relative;
  right: 1.1rem;
  color: gray;
  font-size: 1.1rem;
}
.operation__box--text {
  position: relative;
  right: 1.2rem;
  font-weight: 500;
  font-size: 1rem;
}
.operation__box--bubble {
  padding: 0.1rem;
  background-color: #9356DC;
  font-size: 0.8rem;
  border-radius: 6rem;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  position: relative;
  right: 1.1rem;
  color: white;
}

.background {
  background-color: #F5F5F5;
}

.restaurant {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 3rem 1rem;
  padding: 3rem 1rem 4rem 1rem;
  background-color: #F5F5F5;
}
.restaurant__title {
  margin: 0;
  font-size: 1.5rem;
}
.restaurant .restaurantBox {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 0 0 16px #0000002e;
  max-width: 375px;
}
.restaurant .restaurantBox__imgwrap {
  position: relative;
  padding: 0;
  margin: 0;
}
.restaurant .restaurantBox__imgwrap--img {
  height: 11.2rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  object-position: bottom;
}
.restaurant .restaurantBox__imgwrap .largePic {
  object-position: 60% 60%;
}
.restaurant .restaurantBox__imgwrap .newBox {
  position: absolute;
  left: 71%;
  top: 1px;
  background-color: #99E2D0;
  width: 65px;
  padding: 4px;
  text-align: center;
  border-radius: 5%;
  font-size: 0.8rem;
  font-weight: bold;
  color: #009e60;
  font-family: "roboto";
}
.restaurant .restaurantBox .restaurantBoxCaption {
  display: flex;
  padding: 5px 0 5px 5px;
  justify-content: space-between;
}
.restaurant .restaurantBox .restaurantBoxCaption__elem {
  padding: 5px;
  line-height: 1.3rem;
}
.restaurant .restaurantBox .restaurantBoxCaption__elem--title {
  margin: 0;
  font-size: 1rem;
}
.restaurant .restaurantBox .restaurantBoxCaption__elem--text {
  margin: 0;
  font-weight: 350;
}
.restaurant .restaurantBox .restaurantBox__logo {
  padding-top: 0.7rem;
  position: relative;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .restaurant {
    display: grid;
    row-gap: 4rem;
    column-gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .restaurant__title {
    grid-column: -1/1;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .operation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;
  }
  .operation__title {
    grid-column: -1/2;
    margin-left: 75px;
  }
}
@media screen and (max-width: 321px) {
  .operation__box {
    max-width: 260px;
  }
  .operation__box--text {
    font-size: 0.9rem;
  }
}
.footer {
  background-color: #383838;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.3rem;
}
.footer__head {
  margin-bottom: 0.6rem;
}
.footer__head--logo {
  filter: invert(1);
  width: 33%;
  max-width: 7rem;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  filter: invert(1);
  line-height: 0.9rem;
}
.footerContainer__box {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0;
}
.footerContainer__box--text {
  margin: 0.3rem;
  font-size: 0.97rem;
}
.footerContainer__box--text:hover {
  text-decoration: underline;
}
.footerContainer__box--icon {
  font-size: 0.8rem;
  margin-right: 0.3rem;
  margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
  }

  .footerContainer {
    align-items: center;
  }
}
.spinnerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
}

.spinner {
  position: relative;
  left: -50%;
  z-index: 1;
  width: 70px;
  height: 70px;
}

.spinner:after {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  margin: 8px;
  border-radius: 50%;
  border: 10px solid black;
  border-color: #FF79DA transparent #9356DC transparent;
  animation: spinner 1.6s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
.box {
  opacity: 0;
  animation: boxX 0.7s ease-out;
  animation-fill-mode: forwards;
}

.box1 {
  animation-delay: 300ms;
}

.box2 {
  animation-delay: 450ms;
}

.box3 {
  animation-delay: 600ms;
}

.box4 {
  animation-delay: 800ms;
}

@keyframes boxX {
  0% {
    opacity: 0;
    transform: translate(0, 25%);
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.circleContainer {
  animation: antiSlider;
  animation-duration: 0.4s;
  background-color: #99E2D0;
  animation-fill-mode: forwards;
}

@keyframes antiSlider {
  from {
    width: 16%;
    height: 100%;
  }
  to {
    width: 0%;
    height: 100%;
  }
}
.cardArticleDishBox:hover .circleContainer {
  animation: slider;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  background-color: #99E2D0;
}

@keyframes slider {
  from {
    width: 0;
    height: 100%;
  }
  to {
    width: 16%;
    height: 100%;
  }
}
.cardArticleDishBox:hover .circle {
  animation: circlerotation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes circlerotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
