.box {
    opacity:0;
    animation: boxX 0.7s ease-out;
    animation-fill-mode: forwards;
}


.box1 {
    animation-delay: 300ms;
}
.box2 {
    animation-delay: 450ms;
}
.box3 {
    animation-delay: 600ms;
}
.box4 {
    animation-delay:800ms;
}



@keyframes boxX{
    0%{
        opacity: 0;
        transform: translate(0, 25%)
    }
    85%{
        opacity: 1;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}