 .circleContainer {
    animation-name: antiSlider;
    animation-duration: 0.4s;
    background-color: $tertiary-color;
    animation-fill-mode: forwards;
}

@keyframes antiSlider {
      from {
          width: 16%;
          height: 100%;
      }
      to{
          width:0%;
          height: 100%;
      }
  }

.cardArticleDishBox:hover .circleContainer{
    animation: slider;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background-color: $tertiary-color;
}

@keyframes slider {
    from {
      width: 0;
      height: 100%;
    }
  
    to {
      width: 16%;
      height: 100%;
    }
}

.cardArticleDishBox:hover .circle {
      animation: circlerotation;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }

@keyframes circlerotation {
      0%{
          transform: rotate(0deg);
      }
      100%{
          transform: rotate(360deg);
      }
  }