.cardArticleDishBox:hover .circleContainer{
    animation: slider;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: #99E2D0;
}

@keyframes slider {
    from {
      width: 0;
      height: 100%;
    }
  
    to {
      width: 20%;
      height: 100%;
    }
  }


  .cardArticleDishBox:hover .circle {
      animation: circlerotation;
      animation-duration: 1s;
      animation-fill-mode: forwards;
  }

  @keyframes circlerotation {
      0%{
          transform: rotate(0deg);
      }
      100%{
          transform: rotate(360deg);
      }
  }