
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


.main {
    margin: auto;
    content: "";
    animation: main 1.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes main {
    0% {
      opacity: 0.2;
    }
    80%{
        opacity:0.2;
    }
    100% {
      opacity: 1;
    }
  }

