
.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E8;
    font-weight: 650;
    color: #383838;
    font-family: "roboto";
    font-size: 0.9rem;
    box-shadow: rgb(177, 182, 187) 1px 1px 3px 0px inset;


    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        margin-right: 2rem;
    }

    &__city {
        margin-left: 1.1rem;
    }

}

.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;


    &__title {

        margin: 0;
        text-align: center;
        padding: 1.8rem 1.9rem 0.7rem 1.9rem;
        font-size: 1.3rem;;
    }
    &__text {
        text-align: center;
        margin: 0 0 1.8rem 0;
        font-weight: 300;

    }
}


.containerCenter {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.operation {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding: 2rem 1.5rem 3.5rem;

    &__title {
        font-size: 1.4rem;
        margin: 0;
    }

    &__box:hover{
        background-color: rgba(147, 86, 220, 0.15);
    }
    &__box:hover > #iconHover {
        color: #9356DC;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        background-color: #F5F5F5;
        border-radius: 1.3rem;
        padding: 0.5rem;
        box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.09);
        width: 300px;

        &--icon {
            position: relative;
            right: 1.1rem;
            color: gray;
        }
        &--text {
            position: relative;
            right: 1.2rem;
            font-weight: bold;
            font-size: 0.9rem;
        }
        &--bubble {
            background-color: #9356DC;
            font-size: 0.7rem;
            border-radius: 6rem;
            width: 1.2rem;
            height: 1.2rem;
            text-align: center;
            line-height: 1.2rem;
            position: relative;
            right: 0.9rem;
            color: white;
           
        }
        
    }
}

.background{
    background-color: #F5F5F5;
}

.restaurant {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 3rem 1rem;
    background-color: #F5F5F5;

    &__title {
        margin: 0;
        font-size: 1.3rem;
    }

    .restaurantBox {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 1rem 1rem 1rem 1rem;
        box-shadow: 0 0 16px #0000002e;
        max-width: 375px;


        &__imgwrap {
            position: relative;
            padding: 0;
            margin: 0;

        
            &--img {
                height: 9.3rem;
                object-fit: cover;
                border-radius: 1rem 1rem 0 0;
                width: 100%;
                object-position: bottom;
            }
            .largePic {
                object-position: 60% 60%;
            }
            .newBox {
                position: absolute;
                left: 71%;
                top:1px;
                background-color: $tertiary-color;
                width: 65px;
                padding:4px;
                text-align: center;
                border-radius: 5%;
                font-size: 0.8rem;
                font-weight: bold;
                color:#009e60;
                font-family: 'roboto';

            }

        }   
    
        .restaurantBoxCaption {

            display: flex;
            padding: 5px;
            justify-content: space-between;            

            &__elem {

                padding: 5px;
                line-height: 1.3rem;

                &--title {
                    margin:0;
                    font-size: 1rem;
                    
                }
                &--text {
                    margin:0;
                    font-weight: 350;

                }
            }
        }
        .restaurantBox__logo {
            
            padding-top: 0.7rem;
            padding-right: 6%;
        }

    } 

}


@media screen and (min-width: 768px ) {

    .restaurant{
        display: grid;
        row-gap: 4rem;
        column-gap: 4rem;
        grid-template-columns: repeat(2, 1fr);

        &__title {
           grid-column: -1/1;
           font-size: 1.5rem;
        }
    }
}




@media screen and (min-width: 1440px ) {

    .operation {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
        row-gap: 2rem;
        &__title{
            grid-column: -1/2;
            margin-left: 75px;
            
    
        }
    
    }

}


