
.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E8;
    font-weight: 650;
    color: #383838;
    font-family: "roboto";
    font-size: 0.9rem;
    box-shadow: rgb(177, 182, 187) 1px 1px 3px 0px inset;


    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        margin-right: 2rem;
    }

    &__city {
        margin-left: 1.1rem;
    }

}

.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    padding: 0rem 1rem;

    &__title {

        margin: 0;
        text-align: center;
        padding: 1.8rem 1.9rem 0.7rem 1.9rem;
        font-size: 1.3rem;;
    }
    &__text {
        text-align: center;
        margin: 0 0 1.8rem 0;
        font-weight: 300;

    }
}


.operation {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding: 2rem 1.5rem;

    &__title {
        font-size: 1.2rem;
        margin: 0.5rem 0;


    }
    &__box {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        background-color: #F5F5F5;
        border-radius: 1.3rem;
        padding: 0.5rem;
        box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.09);
        width: 270px;

        &--icon {
            position: relative;
            right: 1.1rem;
            color: gray;
        }

        &--text {
            position: relative;
            right: 1.2rem;
            font-weight: bold;
            font-size: 0.9rem;
        }

        &--bubble {
            background-color: #9356DC;
            font-size: 0.7rem;
            border-radius: 6rem;
            width: 1.2rem;
            height: 1.2rem;
            text-align: center;
            line-height: 1.2rem;
            position: relative;
            right: 0.9rem;
            color: white;
           
        }
        
    }
}



.restaurant {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    gap: 1.5rem;
    padding: 1rem;



    .restaurantBox {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 1.25rem;
        box-shadow: 0 0 16px #0000002e;
        height: 100%;
        max-width: 370px;
      

        &__imgwrap {
            padding: 0;
            margin: 0;
            object-fit: cover;

    
        
            &--img {
                height: 7rem;
                object-fit: cover;
                border-radius: 1rem 1rem 0 0;
                width: 100%;
            }
        }   
    
        .restaurantBoxCaption{
            display: flex;
            padding: 5px;
            

            &__elem {

                padding: 5px;
                line-height: 1.3rem;

                &--title {
                    margin:0;
                    font-size: 1rem;
                    

                }
                &--text {
                    margin:0;

                }
            }
        }
        .restaurantBox__logo {

            &--heart {
                font-size: 1.2rem;
            }
        }

    }
    

    }



.footer {
    background-color: #202020;
    

   .footer__head{

       &--logo {
           filter: invert(1);
           width: 30%;
           padding: 1rem;
           
       }
   }
}